{% extends 'base.html' %}



    
{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}
        
    

{% block left_sidebar %} 
    {% include 'components/sidebars/left/sidebar.html' %}
{% endblock left_sidebar %}
    


{% block content %} 
    {% if not user.is_authenticated  %}

    {% else %}
        {% include 'components/index/story.html' %}
        {% include 'components/index/post.html' %}
        {% include 'components/index/room.html' %}
        {% include 'components/index/post_post.html' %}
    {% endif %}
{% endblock content %}




{% block right_sidebar %} 
    {% include 'components/sidebars/right/sidebar.html' %}
{% endblock right_sidebar %}



{% block footer %} 

{% endblock footer %}
    


{% block javascript %} 

{% endblock javascript %}